@import "../../lib/variables";

.movie-card {
  position: relative;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.movie-card .image img {
  width: 200px;
  height: 300px;
}

.movie-card .title {
  width: 100%;
  height: 4em;
  font-size: 80%;
  background-color: $primary;
  color: white;
  padding-top: 2em;
}