@import "../../lib/variables";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $raisin;
  color: $honey;
}

.header .fab, .header .fa, .header .fas {
  color: $fire;
}

.header .lower-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;
  min-height: 8vh;
  text-align: left;
}

.header .logo {
  flex: 1;
  font-size: 140%;
  text-align: center;
}
.header .logo .fab {
  color: $title;
}

.header .searchbar {
  flex: 1;
  position: relative;
  display: inline-flex;
}

.header nav {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header nav .item {
  margin-right: 2em;
}