@import "../lib/variables";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 10vmin;
  pointer-events: none;
  margin-top: 10vmin;
}

.App-main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App-header {
  background-color: $primary;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa, .fab, .fas {
  margin-right: 0.2em;
}

.button {
  -webkit-box-shadow: 0 0 2px #2692dd inset;
  -moz-box-shadow: 0 0 2px #2692dd inset;
  box-shadow: 0 0 2px #2692dd inset;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  color:#fff;
  cursor: pointer;
  text-align: center;
  width: 10em;
  height: 2em;
}

.button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

.button:hover {
  opacity: 0.8;
}

.button.alpha {
  background-color: $fire;
  color: #fff;
}

.button.added {
  background-color: $title;
  color: #000;
}

.button.icon {
  width: 1em;
  height: 0.7em;
  padding: 0.6em;
}

.input i {
  position: absolute;
  color: #000;
  line-height: 1;
  text-align: center;
  top: 0.3em;
  opacity: 0.5;
  width: 2em;
}

.input input[type="text"] {
  padding: 0.5em;
  padding-left: 3em;
}

.input input[type="submit"] {
  padding: 0.5em;
}

.title {
  color: $title;
  margin-bottom: 0.6em;
}

.mini-title {
  color: $title;
  font-size: 80%;
  font-style: italic;
  margin-bottom: 0.4em;
}